.video-container h1 {
	font-size: 36px;
	margin: 0 0 2px;
}

.video-container .subtitle {
	font-size: 16px;
	margin-bottom: 25px;
}

.video-container progress {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 5px;
	position: absolute;
	left: 0;
}

.video-container button {
	-webkit-appearence: none;
	display: block;
	width: 50px;
	height: 50px;
	background-size: contain;
	background-color: transparent;
	border: none;
	outline: none;
	position: absolute;
	top: -70px;
	left: 20px;
	opacity: 0.5;
	transition: opacity 0.2s ease-in-out;
	cursor: pointer;
}

.video-container button.play {
	background-image: url('http://image005.flaticon.com/1/png/512/0/375.png');
}

.video-container button.pause {
	background-image: url('http://freeiconbox.com/icon/256/2371.png');
}

.video-container button:hover {
	opacity: 1;
}

.video-container .progress-container {
	width: 100%;
}

.video-container progress.played {
		z-index: 2;
}

.video-container progress.video-load {
		z-index: 1;
}

.video-container progress::-webkit-progress-bar {
	background-color: transparent;
}

.video-container progress.played::-webkit-progress-value {
	background-color: #F63;
}

.video-container progress.video-load::-webkit-progress-value {
	background-color: #ccc;
}

.video-container .controls-container {
	position: relative;
}

.video-container input[type=range] {
	-webkit-appearance: none;
	margin: 0;
	width: 100%;
	position: absolute;
	z-index: 3;
	background: transparent;
	left: 0;
}

.video-container input[type=range]:focus {
	outline: none;
	background: transparent;
}

.video-container input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	background: transparent;
	left: 0;
}

.video-container input[type=range]::-webkit-slider-thumb {
	border: none;
	height: 15px;
	width: 3px;
	border-radius: 3px;
	background: #222;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -5px;
}

.video-container input[type=range]:focus::-webkit-slider-runnable-track {
	background: transparent;
}