.related-left {

}

.related-middle {

}

.related-image {
  height: 160px;
  width: 200px;
}



.related-body {
  padding-left: 20px;
}

.related-title {
  font-weight: bold;
  font-size: 18px;
}

.related-title:hover {
  color: #e62117;
  cursor: pointer;
}

.related-description {
  font-size: 16px;
  color: #999;
}

.related-price {
  font-size: 18px;
  color: #999;
}
