ul {
	padding: 0;
}
.navbar{
	background: #f2f2f2;
}
.navbar li{
	display: inline-block;
	position: relative;
	line-height: 28px;
}
.navbar li span{
	display: block;
	padding: 10px 20px;
	color: #333;
}
.navbar li span:hover{
	color: #fff;
	background: #939393;
}
.navbar li ul.dropdown{
	min-width: 100%;
	background: #f2f2f2;
	display: none;
	position: absolute;
	z-index: 999;
}
.navbar li:hover ul.dropdown{
	display: block;
}
.navbar li ul.dropdown li{
	display: block;
}